@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
      --font-sans: 'Montserrat', sans-serif;
      --animate-marquee: marquee 8s linear infinite;

      @keyframes marquee {
            0% {
                  transform: translateX(0%);
            }
            100% {
                  transform: translateX(-50%);
            }
      }
}

body {
      font-family: 'Montserrat', sans-serif;
}

@keyframes gradientMove {
      0% {
            background-position: 0% 50%;
      }

      100% {
            background-position: 200% 50%;
      }
}

body {
      overflow-x: hidden;
}

::-webkit-scrollbar {
      display: none;
}

html {
      scrollbar-width: none;
      font-size: 14.5px !important;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
      font-weight: 500 !important;
}